.footer-class{
  clear: both;
  font-size: 60px;
  background-color: #239185;
  color: red;
  align-content: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  width:100%;
  &:hover{
    background:darken(#239185, 20%);
    color: red;
  }
}